    
 
  
<div class="container">
     
 
 
    <div class="container gallery-container">
      
        <h1 class="text-center">Image Gallery</h1>
      
        <p class="page-description text-center">Grid Layout With Zoom Effect</p>
          
        <div class="tz-gallery">
      
            <div class="row mb-0">
                <div class="col-md-4" *ngFor="let i of gal">
                    <div class="card">
                        <a class="example-image-link" href="{{i.photoUrl}}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                        <img class="example-image" src="{{i.photoUrl}}" class="img-fluid"  alt="Park"/>
                        </a>
                      
                    </div>
                </div>
                 
               
             
            </div>
      
        </div>
      
    </div>
     
    </div>



  <!--  <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
                </a>
            </div>
            <div class="row">
                <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
-->