<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="container" style="margin-top:200px;">
<h2>FAQ's</h2>


<div col="row" style="margin-bottom:200px;">
<div class="col-lg-12 col-12">


<button class="accordion">What is MentDoc’s view on data security and privacy?</button>
<div class="panel">
  <p>MentDoc follows strict rules and regulations to safeguard the data stored on its servers. You may refer to our privacy policy for a better understanding about the privacy related aspects. Our IT infrastructure complies with global standards and we are totally committed to ensuring utmost safety and privacy of our users and their data.</p>
</div>

<button class="accordion">What data does MentDoc store?</button>
<div class="panel">
  <p>MentDoc stores data that either has been shared by an individual using the MentCom application or the data shared by Mental Health Practitioners on the official website of MentDoc. MentDoc never asks for data that is confidential and private to an individual.</p>
</div>

<button class="accordion">I am a doctor using MentDoc, do you have access to my data stored on the servers of MentDoc?</button>
<div class="panel">
  <p>We have access to information related to your clinics, your patients’ information and any reports that are uploaded / sourced via the MentDoc platform. We adhere to strict data safety standards and you can be rest assured about the safety of your data.</p>
</div>

<button class="accordion">What data does MentDoc store?</button>
<div class="panel">
  <p>MentDoc stores data that either has been shared by an individual using the MentCom application or the data shared by Mental Health Practitioners on the official website of MentDoc. MentDoc never asks for data that is confidential and private to an individual.</p>
</div>

<button class="accordion">What data does MentDoc store?</button>
<div class="panel">
  <p>MentDoc stores data that either has been shared by an individual using the MentCom application or the data shared by Mental Health Practitioners on the official website of MentDoc. MentDoc never asks for data that is confidential and private to an individual.</p>
</div>

<button class="accordion">What data does MentDoc store?</button>
<div class="panel">
  <p>MentDoc stores data that either has been shared by an individual using the MentCom application or the data shared by Mental Health Practitioners on the official website of MentDoc. MentDoc never asks for data that is confidential and private to an individual.</p>
</div>

<button class="accordion">What data does MentDoc store?</button>
<div class="panel">
  <p>MentDoc stores data that either has been shared by an individual using the MentCom application or the data shared by Mental Health Practitioners on the official website of MentDoc. MentDoc never asks for data that is confidential and private to an individual.</p>
</div>

<button class="accordion">What data does MentDoc store?</button>
<div class="panel">
  <p>MentDoc stores data that either has been shared by an individual using the MentCom application or the data shared by Mental Health Practitioners on the official website of MentDoc. MentDoc never asks for data that is confidential and private to an individual.</p>
</div>








</div>
</div>
</div>
</body>
</html>