<!--<section class="stat" id="stats">
    <div class="content-box">
        <br><br>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="stat-items">
                         <i class="fa fa-shopping-bag"></i>
                        <h2><span class="counter" [countUp]="1000" ></span>
                        <span>+</span></h2>
                        <p>FOLLOWER</p>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="stat-items">
                            <i class="fa fa-twitter"></i>
                                <h2><span class="counter" [countUp]="2000" ></span>
                            <span>+</span></h2>
                            <p>Consultation Done</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="stat-items">
                                <i class="fa fa-home"></i>
                                    <h2><span class="counter"  [countUp]="10000" ></span>
                                <span>+</span></h2>
                                <p>Patients Benefitted</p>
                            </div>
                        </div>
            </div>
    </div>
    </div>
</section>
-->
<div class="services">
    <h1>OUR MODALS</h1>
    <div class="cen">
        <div class="service">
            <i class=" fa-3x fa fa-shopping-bag"></i>
           <h2><span class="counter" [countUp]="1000"></span><span>+</span></h2>
           <p>FOLLOWER</p>
        </div>
        <div class="service">
        <i class="fa-3x fa fa-twitter"></i>
        <h2><span class="counter" [countUp]="2000"></span><span>+</span></h2>
        <p>Consultation Done</p>
        </div>
        <div class="service">
        <i class="fa-3x fa fa-home"></i>
        <h2><span class="conter" [countUp]="10000"></span><span>+</span></h2>
        <p>Patients Benefitted.</p>
        </div>
    </div>

</div>
