<!--<div class="modals">
    <div class="container">
        <div class="row">
            
            <div class="extraa-div col-lg-4 col-md-4 col-12">
                <div class="single-div">
                <a href="#"><i class="fa-3x fa fa-apple"></i></a>

                <h2>IPD</h2>
                <p>Records of patients residing at rehabilitation, psychiatric & mental hospitals are digitized and
                    saved on MentDoc’s database
                    Customized care & treatment is offered to residents
                    Facilitates ease of educating patients and their relatives/nominated representative/care-giver/local
                    guardians about the mental illness or disorder
                    Makes monitoring progress & body vitals regularly possible
                    Meant for co-workers such as psychologists and psychiatrists
                </p>
                </div>
            </div>
            <div class="extraa-div col-lg-4 col-md-4 col-12">
                <div class="single-div">
                <a href="#"><i class="fa-3x fa fa-apple"></i></a>
                <h2>OPD</h2>
                <p>
                    Seamless Operation: Caters to the needs of MHPs who practice out of multiple clinics, hospitals,
                    etc.
                    Makes patients’ data available to respective MHPs operating out of multiple establishments
                    Appointments can be scheduled, rescheduled and cancelled
                    Saves Time: Facilitates patients’ appointments with MHPs during stipulated time slots
                    The OPD feature of MentDoc is meant for co-workers like psychologists and psychiatrists.

                </p>
                </div>
            </div>
            <div class="extraa-div col-lg-4 col-md-4 col-12">
                <div class="single-div">
                <a href="#"><i class="fa-3x fa fa-apple"></i></a>
                <h2>ICMS</h2>
                <p>
                    A cloud based web-application working around a database of digital patient records.
                    Makes use of the unique Super Administrator (Super Admin) feature, which allows owners to monitor
                    usage of platform by co-workers such as psychologists and psychiatrists
                    Real time data sharing and synchronization is made possible for mental health practitioners
                    This feature is meant for owners of establishments only.

                </p>
                </div>
            </div>



        </div>
    
    </div>
</div>
-->
<div class="services">
    <h1>OUR MODALS</h1>
    <div class="cen">
        <div class="service">
            <img src="../../../../assets/image/modal/clinic-01.png" alt="">
           <h2>IPD</h2>
           <p class="text-justify">Records of patients residing at rehabilitation, psychiatric & mental hospitals are digitized and saved on MentDoc’s database
            Customized care & treatment is offered to residents 
            Facilitates ease of educating patients and their relatives/nominated representative/care-giver/local guardians about the mental illness or disorder 
            Makes monitoring progress & body vitals regularly possible
            Meant for co-workers such as psychologists and psychiatrists
            </p>
        </div>
        <div class="service">
            <img src="../../../../assets/image/modal/new 3-01.png" alt="">
                        <h2>OPD</h2>
                        <p class="text-justify">Seamless Operation: Caters to the needs of MHPs who practice out of multiple clinics, hospitals, etc.
                            Makes patients’ data available to respective MHPs operating out of multiple establishments 
                            Appointments can be scheduled, rescheduled and cancelled 
                            Saves Time: Facilitates patients’ appointments with MHPs during stipulated time slots
                            The OPD feature of MentDoc is meant for co-workers like psychologists and psychiatrists.
                            </p>
        </div>
        <div class="service">
            <img src="../../../../assets/image/modal/Practice Management-01.png" alt="">
            <h2>ICMS</h2>
            <p  class="text-justify">A cloud based web-application working around a database of digital patient records. 
            Makes use of the unique Super Administrator (Super Admin) feature, which allows owners to monitor usage of platform by co-workers such as psychologists and psychiatrists 
            Real time data sharing and synchronization is made possible for mental health practitioners
            This feature is meant for owners of establishments only.</p>
            
        </div>
        </div>

</div>

