<div class="container">
        <div class="card" [formGroup]="testForm" >
          <div class="card-header">
            Add new Testimonial 
          </div>

          <div class="card-body">
            <input type="text" formControlName="name" placeholder="entar the Name" class="form-control">
            <input type="text" formControlName="title" placeholder="entar the Title" class="form-control">
            <textarea formControlName="text" placeholder="entar the Text" class="form-control" cols="30" rows="10"></textarea>
            <h5 class="card-title">Select a file for upload:</h5>
            <input type="file" (change)="uploadPhoto($event)" class="form-control" accept=".png,.jpg" />
            <button (click)="testFormSubmit(testForm.value)" class="btn btn-primary" >Add Banner</button>
          </div>
        </div>
      </div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>name</th>
        <th>title</th>
        <th>text</th>
        <th>image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of Testimonials" >
        <td scope="row">{{i.name}}</td>
        <td>{{i.title}}</td>
        <td>{{i.text}}</td>
        <td>
          <img src="{{i.image}}" height="50px" alt="">
        </td>
        <td>
          <button (click)="deletebyID(i._id)" >delete</button>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>