
<header>
	<div class="container-fluid">
    
	  <img src="../../../../assets/image/logo/mentcom-01.png" class="logo" alt="">
	  <nav class="site-nav">
		<ul>
		
		  <li><a routerLink="../home"><i class="fa fa-home site-nav--icon"></i>  HOME</a></li>
		  <li><a routerLink="/services"><i class="fa fa-home site-nav--icon"></i>  Services</a></li>
		  <li><a routerLink="/security"><i class="fa fa-home site-nav--icon"></i>  Security</a></li>
		  <li><a routerLink="/blog"><i class="fa fa-home site-nav--icon"></i>  Blog</a></li>
		  <li><a routerLink="/contact"><i class="fa fa-home site-nav--icon"></i>  contact</a></li>
		  <li><a routerLink="/about"><i class="fa fa-home site-nav--icon"></i>  about</a></li>
		
		</ul>
    </nav>
    
	  <div class="menu-toggle">
		<div class="hamburger"></div>
	  </div>
  
  </div>
  </header>
  <!--<header>
  <nav>
    <div>
    <img class="logo" src="../../../assets/image/l">
    </div>
      <ul>
        <li><a routerLink="download"><i class="fa fa-phone"><span>Download the App</span></i></a></li>
        <li><a routerLink="home">HOME</a></li>
        <li><a routerLink="/services">SERVICES</a></li>
        <li><a routerLink="/security">SECURITY</a></li>
        <li><a routerLink="/blog">BLOG</a></li>
        <li><a routerLink="/contact">CONTACT US</a></li>
        <li><a routerLink="/admin">ADMIN</a></li>
        <li><a routerLink="/about">AboutUs</a></li>
      </ul>
      <div class="burger toggle">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
  </nav>
  <div id="progress"></div>
  
</header>-->


<!--<header>
  <div class="container">
  <div class="row">
    <div class="col-lg-12">
  <nav>
    <img class="logo" src="../../../assets/image/logo/mentdoc-01.png">
    <div class="menu">
      <ul>
        <li><a routerLink="download"><i class="fa fa-phone"><span>Download the App</span></i></a></li>
        <li><a routerLink="home">HOME</a></li>
        <li><a routerLink="/services">SERVICES</a></li>
        <li><a routerLink="/security">SECURITY</a></li>
        <li><a routerLink="/blog">BLOG</a></li>
        <li><a routerLink="/contact">CONTACT US</a></li>
        <li><a routerLink="/admin">ADMIN</a></li>
        <li><a routerLink="/about">AboutUs</a></li>
      </ul>
    </div>
  </nav>
  </div>
</div>
</div>
</header>-->


	
	<!--<nav class="navbar">
		<div class="logo">
			<h4>
				Navbar
			</h4>
		</div>
		<ul class="nav-links">
			<li>
				<a href="">Home</a>
			</li>
			<li>
				<a href="">Home</a>
			</li>
			<li>
				<a href="">Home</a>
			</li>
			<li>
				<a href="">Home</a>
			</li>
		</ul>
		<div class="burger toggle">
			<div class="line line1"></div>
			<div class="line line2"></div>
			<div class="line line3"></div>
		</div>
	</nav>
-->
<!--<header>
  <nav>
    <div>
    <img class="logo" src="../../../assets/image/l">
    </div>
      <ul>
        <li><a routerLink="download"><i class="fa fa-phone"><span>Download the App</span></i></a></li>
        <li><a routerLink="home">HOME</a></li>
        <li><a routerLink="/services">SERVICES</a></li>
        <li><a routerLink="/security">SECURITY</a></li>
        <li><a routerLink="/blog">BLOG</a></li>
        <li><a routerLink="/contact">CONTACT US</a></li>
        <li><a routerLink="/admin">ADMIN</a></li>
        <li><a routerLink="/about">AboutUs</a></li>
      </ul>
      <div class="burger toggle">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
  </nav>
  <div id="progress"></div>
  
</header>-->
<!--<header>
	<div class="container">
	  <h1 class="logo">mentdoc</h1>
	  <nav class="site-nav">
		<ul>
		
		  <li><a routerLink="home"><i class="fa fa-home site-nav--icon"></i>  HOME</a></li>
		  <li><a routerLink="/services"><i class="fa fa-home site-nav--icon"></i>  Services</a></li>
		  <li><a routerLink="/security"><i class="fa fa-home site-nav--icon"></i>  Security</a></li>
		  <li><a routerLink="/blog"><i class="fa fa-home site-nav--icon"></i>  Blog</a></li>
		  <li><a routerLink="/contact"><i class="fa fa-home site-nav--icon"></i>  contact</a></li>
		  <li><a routerLink="/about"><i class="fa fa-home site-nav--icon"></i>  about</a></li>
		
		</ul>
	  </nav>
	  <div class="menu-toggle">
		<div class="hamburger"></div>
	  </div>
	</div>
  </header>-->