<app-header2></app-header2>
<section class="contact p-5">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="head">
                <h2 style="color: white;">ContactUs</h2>
                <p style="color:white">Get in touch with us today! We’d love to show you how we are different than others.</p>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center px-5">
                <h2>Registered Office</h2>
                <p class="address">
                    Farm No. 5, Andheria Morde
                    <br>
                    Mehrauli, Delhi 110030
                    <br>
                    T:
                    <a href="tel:+91-7210444411">+91-7210444411</a>
                    <br>
                    
                    E:
                    <a href="info@mentdoc.in">info@mentdoc.in</a>
                    
                </p>                
            </div>
            <div class="col-lg-6 text-center">
                 <h2>Corporate Office</h2>
                        <p class="address">
                            Farm No. 5, Andheria Morde
                            <br>
                            Mehrauli, Delhi 110030
                            <br>
                            T:
                            <a href="tel:+91-7210444411">+91-7210444411</a>
                            <br>
                            
                            E:
                            <a href="info@mentdoc.in">info@mentdoc.in</a>
                            
                        </p>
            </div>
        </div>
        <div class="text-center py-5">
            <h2 class="py-3">ContactUs</h2>
            <div class="mx-auto heading-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
            
                    <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.880226097023!2d77.17370931440426!3d28.51325109622182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1f78363515d7%3A0x6632ce6f8d49b787!2sMentcom%20Infotech%20Private%20Limited!5e0!3m2!1sen!2sin!4v1577515550656!5m2!1sen!2sin"
                    width="95%" height="400" frameborder="0" style="border:0;" allowfullscreen="">
                </iframe>                 
                
            </div>
            <form class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" type="email" area-describedby="emailHint" placeholder="Enter Your Name">  
            
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" type="email" area-describedby="emailHint" placeholder="Enter Email">  
                    <small id="emailHint" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="email">Contact Number</label>
                    <input id="email" class="form-control" type="number" area-describedby="emailHint" placeholder="Enter Contact Number">  
   
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" class="form-control" rows="5"></textarea>  
                    
                </div>
                <button type="button" class="btn btn-outline-primary">Submit</button>
             
            </form>
        </div>
            
        </div>
    
</section>

<!--<section id="contact">
    <div class="container">
    <h2 class="mb-5 font-weight-bold text-center">ContactUs</h2>
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <form class="p-5">
                <div class="md-form form-us">
                    <label for="name">Your Name</label>
                    <input type="text" id="input-1" class="form-control" placeholder="Enter Your Name">
                    
                </div>
                <div class="md-form form-us">
                    <label for="email">Email</label>
                    <input type="text" id="input-1" class="form-control">
                 
                </div>
                <div class="md-form form-us">
                    <label for="contact">Conatct</label>
                    <input type="text" id="input-1" class="form-control">
                   
                </div>
                <div class="md-form form-us">
                    <label for="message">Message</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
        
                </div>
            </form>
        </div>
        <div class="col-lg-7 col-md-12">

        </div>
    </div>
</div>
</section>-->
<!--<section class="modals">
    <div class="container-fluid">
    
        <div class="row">
            <div class="col-md-12">
            <div class="card">
                <h2>ContactUS</h2>
                <p>Get in touch with us today! We’d love to show you how we are different than others.</p>
            </div>
            </div>
        </div>
                    <div class="row">
                
                    <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                        <div class="firstaddress">
                        <h2>Corporate Office</h2>
                        <p class="address">
                            Farm No. 5, Andheria Morde
                            <br>
                            Mehrauli, Delhi 110030
                            <br>
                            T:
                            <a href="tel:+91-7210444411">+91-7210444411</a>
                            <br>
                            
                            E:
                            <a href="info@mentdoc.in">info@mentdoc.in</a>
                               
                        </p>
                    </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                        <h2>Registered Office</h2>
                        <p class="address">
                            Farm No. 5, Andheria Morde
                            <br>
                            Mehrauli, Delhi 110030
                            <br>
                            T:
                            <a href="tel:+91-7210444411">+91-7210444411</a>
                            <br>
                            
                            E:
                            <a href="info@mentdoc.in">info@mentdoc.in</a>
                            
                        </p>
                    </div>
                
                </div>
                <div class="row">
            <div class="col-md-12">
                <div class="single-service">
                    <h1>Drop Your Message</h1>
                    
                <div class="col-md-6">
                            <div class="form-group">
                                
                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                                    placeholder="Entar your name">
                                <br>
                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                                    placeholder="Entar your email">
                                <br>
                                <input type="text" class="form-control" name="" id="" placeholder="Contact" >
                                <br>
                                <textarea name="" id="" class="form-control" cols="80" rows="7" placeholder="Enter Message"></textarea>
                               <br>
                                <button class="btn btn-primary">Submit Messsage</button>
                            </div>
                </div>
                
                <div class="col-md-6">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.880226097023!2d77.17370931440426!3d28.51325109622182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1f78363515d7%3A0x6632ce6f8d49b787!2sMentcom%20Infotech%20Private%20Limited!5e0!3m2!1sen!2sin!4v1577515550656!5m2!1sen!2sin"
                                width="95%" height="400" frameborder="0" style="border:0;" allowfullscreen="">
                            </iframe>
                         

                </div>


                    </div>

                </div>
            </div>



        


        </div>
   
</section>-->

<app-footer></app-footer>