
        <div class="services">
            <h1>WHY CHOOSE US</h1>
            <div class="cen">
                <div class="service">
                    <img src="../../../../assets/image/why-coose-us/secure data-01.png" class="img-fluid">
                    <h2>RELIABLE & SECURE DATA</h2>
                    <p>MentDoc makes use of Amazon's cloud based Web Server,<br> which is 256 bit encrypted.</p>
            </div>
            <div class="service" id=second>
                    <img  src="../../../../assets/image/why-coose-us/Stream-line-operation.png" class="img-fluid">
                        <h2>ONE STOP, COMPREHENSIVE SOLUTION</h2>
                        <p>MentDoc is an all-inclusive data & practice management solution which caters to the needs of all registered mental health professionals.</p>
            </div>
            <div class="service sixth">
                <img src="../../../../assets/image/why-coose-us/DIGITAL-PRESCRIPTION1.png" class="img-fluid">
                        <h2>SCIENTIFIC DIAGNOSIS & DIGITAL PRESCRIPTION</h2>
                        <p>MentDoc has been designed to aid MHPs in accurately diagnosing the mental illness basis symptom(s) being exhibited by the patient(s), using ICD classification of mental and behavioral disorders.</p>
         </div>
           
          
                   
                           
                           <div class="service">
                               
                                <img src="../../../../assets/image/why-coose-us/data-managment1.png" class="img-fluid">
                                            <h2>SIMPLIFIED AND STREAMLINED OPERATIONS</h2>
                                            <p>MentDoc offers Seamless Practice Management<br> across multiple establishments thereby supporting<br> multi-clinic practice</p>
                        
                            
                                        </div>
                         <div class="service fifth">
                            <img src="../../../../assets/image/why-coose-us/digital-Document-new1.png" class="img-fluid">
                           <h2>DIGITAL DOCUMENTS GENERATED ARE AS PER THE MHA,2017</h2>
                           <p>MentDoc generates documents such as reports, summaries & prescriptions in accordance with the regulations laid down by the Mental Healthcare Act, <br>which was amended in 2017.</p>
                   </div>
                   <div class="service">
                    <img class="first"  src="../../../../assets/image/why-coose-us/mhps-01.png" class="img-fluid">
                    <h2>MENTDOC IS SOLELY MEANT<br> FOR MHPS</h2>
                    <p>MentDoc has been designed exclusively for the mental health domain. It is meant for Mental health professionals like psychiatrists, psychologists, psychoanalysts, psychotherapists & mental health counselors.</p>
            </div>
                        
                                
            </div>

        </div>
    
