
.services{
   /* background: #f1f1f1;*/
    text-align:center;
    z-index: 600;


}

.services h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #25CCF7;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cen{
    max-width: 1200px;
    margin: auto;
    overflow:hidden;
    padding:20px;
}
.service{
    display: inline-block;
    width: calc(100% /2);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition:0.4s;


}
img .second{
    margin-top:2px;
}

img { 
    width:100%; 
    height:100%; 
    object-fit:cover; 
} 

.fourth{
    margin-top: 20px;
}
.service:hover{
    background:#ddd;
}
.service img{
   
    margin-bottom: 30px;
    width: 18vh;

}
.service h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
.service p{
    color:gray;
    font-size: 15px;
    font-weight: 500;
}
@media screen and (max-width:800px){
    .service{
        width: 50%;
    }
}
@media screen and (max-width:500px){
    .service{
        width:100%;
    }
}