.main_menu .navbar-brand {
    padding: 0rem !important;
}
@media (max-width: 576px) {
    
    .main_menu .navbar-brand {
      max-width: 120px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    
    .main_menu .navbar-brand {
      max-width: 130px;
    }
}
.main_menu .navbar-toggler {
    position: relative;
    z-index: 1;
  }
  
  
  .main_menu .navbar-toggler:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: 200% auto;
  }
  
 
  .main_menu .navbar {
    padding: 0;
  }
  
  @media (max-width: 576px) {
   
    .main_menu .navbar {
      padding: 15px 0;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    
    .main_menu .navbar {
      padding: 15px 0;
    }
  }
  
  
  .main_menu .main-menu-item {
    text-align: right;
    justify-content: right;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    
    .main_menu .main-menu-item {
      padding-left: 25px;
    }
  }
  
  
  .main_menu .main-menu-item ul li .nav-link {
    color: #242429;
    font-size: 14px;
    padding: 38px 23px;
    font-family: "Playfair Display", serif;
    line-height: 13px;
    text-transform: capitalize;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    
    .main_menu .main-menu-item ul li .nav-link {
      padding: 35px 16px;
    }
  }
  
  
  .main_menu .main-menu-item ul li .nav-link:hover {
    color: #0065e1;
  }
  
  
  .main_menu .btn_1 {
    padding: 8.5px 34px;
    margin-left: 65px;
  }
  .btn_1 {
    display: inline-block;
    padding: 10.5px 36px;
    font-size: 14px;
    color: #000;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    border: 1px solid #e4e6ea;
    border-radius: 2px;
    font-family: "Playfair Display", serif;
  }
  .btn_1:hover {
    background-color: #0065e1 !important;
    color: #fff;
  }
  
  @media only screen and (max-width: 420px) {
   .main_menu{
     
     width: 100%;
   }
  }