<header class="main_menu ">
    <div class="container-fluid">
        
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" routerLink="/home"> <img style="height: 100px" src="./../../../../assets/image/logo/mentdoc-01.png" alt="logo"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse main-menu-item justify-content-end"
                        >
                        <ul  class="navbar-nav align-items-center">
                            <li class="nav-item active">
                                <a style="font-size: 20px"  class="nav-link" routerLink="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a style="font-size: 20px" class="nav-link" href="about.html">about</a>
                            </li>
                            <li class="nav-item">
                                <a style="font-size: 20px" class="nav-link" href="Doctor.html">Doctors</a>
                            </li>


                            <li class="nav-item">
                                <a style="font-size: 20px" class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="d-none d-lg-block">
                                <a class="btn_1" >Download Our App
                                    <i class="fab fa-google-play fa-2x" aria-hidden="true"></i>
                                </a>
                                
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        
    </div>
</header>