
<body>
    <app-header2></app-header2>
        
    <!--    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/image/logo/mentdoc-01.png" style="height: 70px;" alt="">
        </a>
        <div class="navbar-nav ml-md-auto d-md-flex sm-none">
                <span class="leftmenutrigger"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </div>
        <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav animate side-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Home
                </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/security">Security</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/blog">Blog</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/services">Services</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/contact">Contact Us</a>
                  </li>
                </ul>
            </div>
            <div class="navbar-nav ml-md-auto d-md-flex d-none">
                    <span class="leftmenutrigger"><i class="fa fa-bars" aria-hidden="true"></i></span>
                </div>
                
      </nav>-->
        <div class="main-content">
                <div class="header-bg">
                        <div class="container">
                                <section>
                                        <div class="header-part">
                                                <h3>DATA SAFETY <span>Our Top Priority</span></h3>
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                <ul>
                                                                        <li>STRINGENT DATA POLICIES</li>
                                                                        <li>ROBUST DATA INFRASTRUCTURE</li>
                                                                        <li>MULTIPLE CHECKS</li>
                                                                    </ul>
                                                                    <div class="security">
                                                                            <div class="row">
                                                                                <div class="col-md-3">
                                                                                    <div class="box">
                                                                                        <img src="../../assets/image/security/images/shield2.svg" class="img-fluid" alt="security icon">
                                                                                        <span>*256-bit encryption</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <div class="box">
                                                                                        <img src="../../assets/image/security/images/hippacompleint.svg" class="img-fluid" alt="security icon">
                                                                                        <span>*HIPAA compliant data centre</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <div class="box">
                                                                                        <img src="../../assets/image/security/images/priscription1.svg" class="img-fluid" alt="security icon">
                                                                                        <span>*Control over prescription sharing</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <div class="box">
                                                                                        <img src="../../assets/image/security/images/robustdata.svg" class="img-fluid" alt="security icon">
                                                                                        <span>*Compliant with MHA, 2017</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        
                                                        </div>
                                                        <div class="col-md-6">
                                                                <div class="heder-img">
                                                                    <img src="../../assets/image/security/images/security.png" class="img-fluid" alt="Security" />
                                                                </div>
                                                            </div>
                                                </div>
                                        </div>
                                </section>
                        </div>
                </div>
                <section>
                        <div class="data-mixing">
                            <h3>NO CHANCE OF DATA MIXING</h3>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="../../assets/image/security/images/data-mix.png">
                                    </div>
                                    <div class="col-md-6">
                                        <p>MentDoc uses separate infrastructure to keep patient data completely segregated from the doctors’ data, thereby ensuring complete segregation of data.
                                            <p>
                                    </div>
                                </div>
                            </div>
                        </div>
            </section>
            <section>
                    <div class="container secure-place">
                        <h3>Secure place for your health data</h3>
                        <span class="sm-text">Keeping your data safe is at the core of every decision we make at Mentdoc.</span>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="content">
                                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                                    <h4>Your data is for your eyes only</h4>
                                    <p>Anything that you share on Mentdoc is completely private. No one else can access it. We give unprecedented level of control so that only you can decide who sees what.
                                        <a href=""> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="content">
                                    <i class="fa fa-7x fa-search-plus"></i>
                                    <h4>Everything is protected with 256-bit encryption</h4>
                                    <p>Mentdoc uses world-class standards to shield your data from unauthorised intrusion. It is always protected with multiple layers of encryption (256-bit encryption over the network).
                                        <a href=""> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="content">
                                    <i class="fas fa-7x fa-fingerprint"></i>
                                    <h4>2-factor authentication prevents unauthorised access</h4>
                                    <p>Extra measures are good. Therefore, we let you enable 2-factor authentication so that your data is absolutely secure and no one else can access it except you.
                                        <a href=""> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                        <div class="container-fluid data-security">
                            <h3>Team MentDoc covers all facets of Data Security</h3>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="data-security-content">
                                            <h4>Your data has only one owner: You.</h4>
                                            <p>Only you are permitted to exert control over your data. Neither MentDoc, nor any third-party can access your personal information, for any purpose/s, except those authorized by you.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="data-security-content">
                                            <h4>We never promote or advertise our products or services to yourwalk-ins</h4>
                                            <p>We never connect with your patients who walk-in for treatment, nor do we advertise our products to them, in accordance with our privacy policy. Patients can choose to connect better with their respective doctors by downloading and using the MentCom Application from Google Play Store. MentDoc also does not have access to your patients’ records’ database which is stored by MentCom.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="data-security-content">
                                            <h4>Never under any circumstances will we ever sell your data</h4>
                                            <p>We pursue utmost care towards the sensitivity of your personal health related data and take privacy of information very seriously. Collection, use and disclosure of information which has been designated as Personal Information or Sensitive Personal Data or Information’ under the SPI Rules requires your articulate consent, thereby ensuring complete safety of the data.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                            <div class="container faq">
                                <h2>FAQ's</h2>
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">What is MentDoc’s view on data security and privacy?
                        </a>
                                        </div>
                                        <div id="collapseOne" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                    A. MentDoc follows strict rules and regulations to safeguard the data stored on its servers. You may refer
                                                    to our privacy policy for a better understanding about the privacy related aspects. Our IT infrastructure
                                                    complies with global standards and we are totally committed to ensuring utmost safety and privacy of our
                                                    users and their data.                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">What data does MentDoc store?
                      </a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                    MentDoc stores data that either has been shared by an individual using the MentCom application or the
                                                    data shared by Mental Health Practitioners on the official website of MentDoc. MentDoc never asks for
                                                    data that is confidential and private to an individual.                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">I am a doctor using MentDoc, do you have access to my data stored on the servers of MentDoc?
                        </a>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                    We have access to information related to your clinics, your patients’ information and any reports that
                                                    are uploaded / sourced via the MentDoc platform. We adhere to strict data safety standards and you can
                                                    be rest assured about the safety of your data.                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">Is my data really safe with MentDoc?
                        </a>
                                        </div>
                                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                    MentDoc follows strict rules and regulations to safeguard the data stored on its servers. Any data that
                                                    is on the website or servers of MentDoc is totally safe.                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">What specific measures do you use to ensure the security of data stored on the servers of MentDoc?
                      </a>
                                        </div>
                                        <div id="collapseFive" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                    The safest and most reliable server for your immensely important data, the AWS(Amazon Web
                                                    Server) uses the Advanced Encryption Standard(AES) Algorithm along with 256-bit secret keys.
                                                    The AWS KMS(Key Management Service) is a secure and resilient service that uses FIPS 140-2
                                                    validated hardware security modules to protect your keys.
                                                    In addition:
                                                    i) All sensitive data is stored in encrypted format in databases.
                                                    ii) Network traffic is secured via robust transport level security using https certificate.                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">Is MentDoc compliant with the data security and privacy laws in India?
                        </a>
                                        </div>
                                        <div id="collapseSix" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                    Yes, MentDoc respects the security and privacy of the users’ data stored on its servers. It does so in
                                                    consonance with the laws and provisions as governed under the Indian Contract Act, 1872,
                                                    Information Technology Act, 2000 and the rules, regulations, guidelines and clarifications framed under
                                                    the IT (Reasonable Seurity Practices and Procedures and Sensitive Personal Information) Rules,
                                                    2011, the IG Rules, 2011 and the Mental Healthcare Act, 2017.                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                
                            </div>
                        </section>
                      <!--  <section class="footer">
                                <div class="container-fluid">
                                        <div class="container">
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                <address>
                                                                        <span>Mentcom Infotech Pvt. Ltd.</span>
                                                                            <p><b>Registered Office:</b> 2/6, Sarvapriya Vihar, New Delhi, Delhi 110016
                                                                            <b>Corporate Office:</b> Farm No. 5, Andheria Morde, Mehrauli, Delhi 110030
                                                                                +91-7210444411
                                                                                mentdoclive@gmail.com , info@mentdoc.in
                                                                                HR- mentdochr@gmail.com , IT- mentdocit@gmail.com<p>
                                                                    </address>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="footer-text">
                                                            &copy; 2019 All rights reserved.
                                                        </div>
                                                    </div>
                                        </div>
                                </div>
                        </section>-->
                        <app-footer></app-footer>
                        
        </div>
</body>
