<section>
    <div class="conatiner">
        <div class="row">
            <div class="col-md-6 mt-5 py-5 pl-5">
                <div class ="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/F3oRlKC4hR8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe> 
            </div>
            </div>
        <div class="col-md-6 text-justify offset-lg-1 col-lg-5">
            <h2 class="pb-3">About MentDoc</h2>
            <p class="pb-3">A large number of Indians (approximately 60 million- a number greater than the combined population of some countries like South Africa) – suffer from mental disorders.</p>
            <p  class="pb-3">Mr. JP Nadda, Minister of Health and Family Welfare, in his address in the Lok Sabha in May 2016, revealed that according to the National Commission on Macroeconomics and Health (2005) (click here), about 10-20 million Indians were suffering from complex mental disorders like schizophrenia and bipolar disorder, whereas nearly 50 million Indians were suffering from common mental disorders like depression and anxiety.</p>
            <p class="pb-3">With growing awareness of Mental Health and Mental Illnesses in India, the Mental Healthcare Bill was revised in 2017, bringing reformative changes to enhance the availability and scope of Mental Health services in the Country.</p>
            <a routerLink="about" class="btn btn-lg btn-outline-primary">LEARN MORE</a>
            <button class="btn btn-lg btn-secondary">Contactus</button>
        </div>
    </div>
    </div>
</section>



<!--<section class="home-container">
    <div class="row mt-5">
        <div class="col-lg-6 mt-5 py-5 pl-5">
         
                <iframe width="160" height="315" src="https://www.youtube.com/embed/F3oRlKC4hR8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe> 
            
        </div>
    </div>
    <div class="col-lg-6 my-auto"> 
        <div class="row">
            <div class="home-content offset-lg-1 col-lg-10">
                <h2 class="pb-3">About Mentdoc</h2>
                <p>A large number of Indians (approximately 60 million- a number greater than the combined population of some countries like South Africa) – suffer from mental disorders.</p>
                <p>Mr. JP Nadda, Minister of Health and Family Welfare, in his address in the Lok Sabha in May 2016, revealed that according to the National Commission on Macroeconomics and Health (2005) (click here), about 10-20 million Indians were suffering from complex mental disorders like schizophrenia and bipolar disorder, whereas nearly 50 million Indians were suffering from common mental disorders like depression and anxiety.</p>
                <p>With growing awareness of Mental Health and Mental Illnesses in India, the Mental Healthcare Bill was revised in 2017, bringing reformative changes to enhance the availability and scope of Mental Health services in the Country.</p>
                
                <button class="btn btn-lg btn-outline-secondary">Learn more</button>
                <button class="btn btn-lg btn-secondary">Contactus</button>
            </div>
        </div>
    </div>
</section>
-->