 <div class="services">
            <h1>OUR FEATURES</h1>
            <div class="cen">
                <div class="service">
                    <img src="../../../../assets/image/Features/Followup-01.png">
                   <h2>Effective communication and Seamless collaboration</h2>
                   <p>The e-prescription provided by the doctor will be immediately accessible to the partner pharmacy enabling seamless communication and collaboration amongst the doctors, patients and the partner pharmacies thus making the whole process easier and quicker. </p>
                </div>
                <div class="service">
                    <img src="../../../../assets/image/Features/patient-01.png">
                                <h2>Intelligent follow- ups <br> and reminders</h2>
                                <p>Mental health professionals can schedule appointments on future dates and can also book time slots during which they would like the patients to consult them. The appointments can be cancelled and rescheduled as per the convenience and availability of the mental health professional.</p>
                </div>
                <div class="service">
                    <img src="../../../../assets/image/Features/comm1-01.png">
                    <h2>A comprehensive web-based platform</h2>
                    <p>Integrated medical web based application suite for mental health professionals like neurologists, psychiatrists, clinical psychologists, counselors and other allied mental health professionals.</p>
                </div>
                
               
                
                <div class="service">
                    <img src="../../../../assets/image/Features/ment web.png">
                            <h2>Scientific Diagnosis & Digital Prescription</h2>
                            <p>Designed to aid MHPs in accurately diagnosing the mental illness which a patient is suffering from, basis the symptoms which the patient exhibits. using ICD 10 classification of mental and behavioural disorders.</p>
                </div>
                
                <div class="service">
                                    <img src="../../../../assets/image/Features/new-EHR.png">
                                    <h2>MENTDOC IS SOLELY MEANT FOR MHPS</h2>
                                    <p>MentDoc has been designed exclusively for the mental health domain. It is meant for Mental health professionals like psychiatrists, psychologists, psychoanalysts, psychotherapists & mental health counselors.</p>
                </div>
                <div class="service">

                    <img src="../../../../assets/image/Features/3-01.png">
                        <h2>Electronic Health Record (EHR)</h2>
                        <p>An Electronic Health Record(EHR)is a digital version of a patient’s conventionally used paper-based summaries and records. This feature facilitates quick and secure access to the patient’s information for authorized mental health professio.</p>
                </div>
                           
                  
            </div>

        </div>
    

<!--<section class="services">
    <div class="container text-center w-50">
        <h2 class="py-3">OUR FEATURES</h2>
        <div class="mx-auto heading-line"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="../../../../assets/image/Features/Followup-01.png" class="img-fluid" width="50%" alt="">
                <h4 class="py-3">Effective communication and Seamless collaboration</h4>
                <p class="pb-5">The e-prescription provided by the doctor will be immediately accessible to the partner pharmacy enabling seamless communication and collaboration amongst the doctors, patients and the partner pharmacies thus making the whole process easier and quicker.</p>
            </div>
            <div class="col-md-6 text-center">
                  <img src="../../../../assets/image/Features/patient-01.png" class="img-fluid" width="50%" alt="">
                <h4 class="py-3">Intelligent follow- ups and reminders</h4>
                <p class="pb-5">Mental health professionals can schedule appointments on future dates and can also book time slots during which they would like the patients to consult them. The appointments can be cancelled and rescheduled as per the convenience and availability of the mental health professional.</p>
            </div>
                <div class="col-md-6 text-center">
                  <img src="../../../../assets/image/Features/comm1-01.png" class="img-fluid" width="50%" alt="">
                <h4 class="py-3">A comprehensive web-based platform</h4>
                <p class="pb-5">Integrated medical web based application suite for mental health professionals like neurologists, psychiatrists, clinical psychologists, counselors and other allied mental health professionals.</p>
            </div>
            <div class="col-md-6 text-center">
                  <img src="../../../../assets/image/Features/ment web.png" class="img-fluid" width="50%" alt="">
                <h4 class="py-3">Scientific Diagnosis & Digital Prescription</h4>
                <p class="pb-5">Designed to aid MHPs in accurately diagnosing the mental illness which a patient is suffering from, basis the symptoms which the patient exhibits. using ICD 10 classification of mental and behavioural disorders.</p>
            </div>
            <div class="col-md-6 text-center">
                  <img src="../../../../assets/image/Features/new-EHR.png" class="img-fluid" width="50%" alt="">
                <h4 class="py-3">MENTDOC IS SOLELY MEANT FOR MHPS</h4>
                <p class="pb-5">MentDoc has been designed exclusively for the mental health domain. It is meant for Mental health professionals like psychiatrists, psychologists, psychoanalysts, psychotherapists & mental health counselors.</p>
            </div>
            <div class="col-md-6 text-center">
                  <img src="../../../../assets/image/Features/diganosis.png" class="img-fluid" width="50%" alt="">
                <h4 class="py-3">Electronic Health Record (EHR)</h4>
                <p class="pb-5">An Electronic Health Record(EHR)is a digital version of a patient’s conventionally used paper-based summaries and records. This feature facilitates quick and secure access to the patient’s information for authorized mental health professional.</p>
            </div>
        </div>
    </div>
</section>
-->

















