<section>

        <div class="container mt-5">
                <h1 class="text-center text-capitalize">secure place for your health data </h1>
                <p class="text-center"> Keeping your data safe is at the core of every decision we make at Mentdoc.</p>
            <div class="row mt-5">
    
                  
    
    
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="card" width="100%" height="100%">
                          
                                    <i class="fa fa-user-secret" width=100% font-weight=900></i>
                            <div class="card-body">
                              <h4 class="card-title">John Doe</h4>
                              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                              <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="card" width="100%" height="100%">
                            <i class="fa fa-user-secret" width=100% font-weight=900></i>
                            <div class="card-body">
                              <h4 class="card-title">John Doe</h4>
                              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                              <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="card"width="100%" height="100%">
                            <i class="fa fa-user-secret" width=100% font-weight=900></i>
                            <div class="card-body">
                              <h4 class="card-title">John Doe</h4>
                              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                              <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                          </div>
                    </div>
    
    
            </div>
    
        </div>
    
    
    
    </section>