<app-header2></app-header2>
<div class="services">
    
    <div class="cen" >
        <div class="first">
        <div class="service">
            <img src="../../assets/image/Features/diganosis.png">
        
        
        </div>
         <div class="service">
            
                        <h2>Digital Prescription using MentDoc-</h2>
                        <p> In place of written and faxed prescriptions, it is advisable to go for computer-based electronic prescription generation, transmission and filling of a medical prescription. Digital Prescription or E-prescribing allows a medical representative to electronically transmit new prescriptions or renew authorization to individuals or pharmacies.</p>
                        <p>It emphasizes on the ability to send precise and understandable prescriptions electronically from the healthcare provider to the customer or reseller.</p>
                        <p>E-prescribing mitigates the risks associated with conventional prescription script writing. It is also is crucial in storage of soft copies of medical records on a server or on the cloud.By sharing prescription information, electronic prescribing seeks to connect the patient's team of healthcare professionals to expeditiously promote decision making.</p>
                        <p>E-prescribing mitigates the risks associated with conventional prescription script writing. It is also is crucial in storage of soft copies of medical records on a server or on the cloud.By sharing prescription information, electronic prescribing seeks to connect the patient's team of healthcare professionals to expeditiously promote decision making.</p>
                    </div>
        </div>
        <div class="second">
        <div class="service">
                
            <h2>EHR Management through MentDoc</h2>
            <p> In place of written and faxed prescriptions, it is advisable to go for computer-based electronic prescription generation, transmission and filling of a medical prescription. Digital Prescription or E-prescribing allows a medical representative to electronically transmit new prescriptions or renew authorization to individuals or pharmacies.</p>

                <p>   It emphasizes on the ability to send precise and understandable prescriptions electronically from the healthcare provider to the customer or reseller.</p>
                    
                <p>    E-prescribing mitigates the risks associated with conventional prescription script writing. It is also is crucial in storage of soft copies of medical records on a server or on the cloud.By sharing prescription information, electronic prescribing seeks to connect the patient's team of healthcare professionals to expeditiously promote decision making.</p>
                    
                <p>    Doctors can prescribe medication using MentDoc and forward an e-prescription. The e-prescription will be immediately accessible in the partner pharmacy thus making the whole process much easier and quicker.</p>
            

        </div>
        <div class="service">
            <img src="../../assets/image/Features/new-EHR.png">
        
        
        </div>
        </div>
        
        

        
        <div class="service">
            <img src="../../assets/image/Features/diganosis.png">
        
        
        </div>
              
                <div class="service">
                    
                                <h2>Diagnosis and Treatment using MentDoc</h2>
                            <p>An Electronic Health Record (EHR) is a digital version of a patient's summaries and records. EHRs are patient-oriented records that facilitate an authorized professional a quick and secure access to information.</p>

                            <p>A critical feature of an EHR is that information is created and managed by authorized providers in a format, which makes it capable of being shared with other providers across many health care organizations.</p>
                                
                            <p>EHRs are designed in order to share information with other health care partners − such as laboratories, specialists, medical imaging facilities, pharmacies, emergency facilities, school clinics and workplace clinics.</p>
                                
                            <p>MentDoc is designed in a manner that it fulfills all the requirements and tasks expected from a robust EHR software, thus easing exchange and flow of critical information.</p>
        
                </div>
                <div class="fourth">
                    <div class="service">
                        
                    <h2>Diagnosis and Treatment using MentDoc-</h2>
                    <p> A Tool for Diagnostic clarification based on ICD10 classification of mental health behaviours and disorders.</p>
                    <p>The software developed by MentDoc has been designed to aid mental health professionals in clarifying diagnosis based on Patient Symptomatology by matching it with the diagnostic criteria as given under the ICD10 classification of Mental and Behavioural Disorders, thus making it highly effective and reliable.</p>

                    
                    
                </div> 
                  
                <div class="service">
                    <img src="../../assets/image/Features/Followup-01.png">
                
                
                </div>
                </div>
            
                <div class="service">
                    <img src="../../assets/image/Features/ment web.png">
                
                
                </div>
                
               <div class="service">
                                
                            <h2>Practice Management and MentDoc-</h2>
                            <p>MentDoc has been designed in a manner that it will be of immense help to an MHP in easing the operations by streamlining and digitizing them. With the help of the dashboard, all the important information like My Patients, Total Consultations, Upcoming Appointments, Total Co-Workers, Total Clinics, Labs and Pharmacies.

                            <p> Also it helps in managing multiple clinics effectively in addition to referring cases for a second opinion at the click of a button.</p>
                                
                            <p>    No more worrying about writing prescriptions manually and coordination with pharmacies, all will be available at the click of a button.</p>

                                
                            <p>MentDoc was initiated as India's 1st Mental Health Record Maintenance Solution as well Practice Management & Patient Engagement  Solution as well Practice Management & Patient Engagement Solution to assist mental health professionals in diagnosis, planning investigations, treatment, recording, scheduling appointments, providing e-prescriptions, manage consultations, etc. </p>
                           
            </div>
                            
       
                   
          
    </div>

</div>


<!--<section class="about">
    <div class="container">
        <div class="row">
            <div class="cen">
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 text-center">
                <div class="image">

                    <img src="../../assets/image/mobile/test.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12  text-justify">
                <div class="service">
                <h2>MentCom App page data</h2>
                
               </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="cen">
            <div class="col-md-6 text-justify">
            <h2>ALL PRESCRIPTIONS AT ONE PLACE</h2>
            
            </div>
            <div class="col-md-6 text-center">
                <img src="../../assets/image/mobile/4.png" alt="">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="cen">
                <div class="col-md-6 text-center">
                    <img src="../../assets/image/mobile/2.png" alt="">
                </div>
                <div class="col-md-6 text-center">
                    <h2>KNOWLEDGE POSTS BY DOCTORS TO KEEP YOU UPDATED</h2>
        
                </div>
            
            
            </div>
        </div>
       
        <div class="row">
            <div class="cen">
                <div class="col-md-6 text-justify">
                    <h2>SYMPTOM LOGS TO HELP DOCTOR UNDERSTAND YOUR REQUIREMENTS BOTH SAFELY AND QUICKLY</h2>
                
                </div>
            <div class="col-md-6 text-center">
                <img src="../../assets/image/mobile/6.png" alt="">
            </div>
            
          
        </div>
    </div>
    </div>
</section>-->
<app-footer></app-footer>















<!--<body>
    <div class="services">
        
        <div class="cen">
            <div class="service">
                
                <h1>MentCom App page data</h1>
           
                            <div class="cushion-v">
                           
                                <a href="https://play.google.com/store/apps/details?id=com.mentcom.mentp" class="login" title="Login"><img src="../../assets/image/downlaod/ezgif-1-0536b5d33a6b.png" /></a>
 
                              </div>
                            
            </div>
            <div class="service">
                <img src="../../../assets/image/downlaod/ezgif-1-a250ae300d97.png">
                    
            </div>
          
                            
        </div>
        <div class="cen">
            <div class="service">
                    <img src="../../assets/image/downlaod/moblesecond.png">
                        
                </div>
              
        <div class="service">
            
            <h1>BOOK APPOINTMENT IN ONE CLICK</h1>
            
                        <div class="cushion-v">
                       
                            <a href="https://play.google.com/store/apps/details?id=com.mentcom.mentp" class="login" title="Login"><img src="../../assets/image/downlaod/ezgif-1-0536b5d33a6b.png" /></a>

                          </div>
                        

        </div>
        
                        
    </div>
    <div class="cen">
        <div class="service">
            
            <h1>ALL PRESCRIPTIONS AT ONE PLACE</h1>
                        <div class="cushion-v">
                       
                            <a href="https://play.google.com/store/apps/details?id=com.mentcom.mentp" class="login" title="Login"><img src="../../assets/image/downlaod/ezgif-1-0536b5d33a6b.png" /></a>

                          </div>
                          

        </div>
        <div class="service">
            <img src="../../assets/image/downlaod/ezgif-1-a250ae300d97.png">
                
        </div>
      
                        
    </div>
    <div class="cen">
        <div class="service">
                <img src="../../assets/image/downlaod/moblesecond.png">
                    
            </div>
          
    <div class="service">
        
        <h1>KNOWLEDGE POSTS BY DOCTORS TO KEEP YOU UPDATED</h1>
     
                    <div class="cushion-v">
                   
                        <a href="https://play.google.com/store/apps/details?id=com.mentcom.mentp" class="login" title="Login"><img src="../../assets/image/downlaod/ezgif-1-0536b5d33a6b.png" /></a>

                      </div>
                    

    </div>
    
                    
</div>
<div class="cen">
    <div class="service">
        
        <h1>SYMPTOM LOGS TO HELP DOCTOR UNDERSTAND YOUR REQUIREMENTS BOTH SAFELY AND QUICKLY</h1>
       
                    <div class="cushion-v">
                   
                        <a href="https://play.google.com/store/apps/details?id=com.mentcom.mentp" class="login" title="Login"><img src="../../assets/image/downlaod/ezgif-1-0536b5d33a6b.png" /></a>

                      </div>
                      

    </div>
    <div class="service">
        <img src="../../assets/image/downlaod/ezgif-1-a250ae300d97.png">
            
    </div>
  
                    
</div>


    </div>

</body>-->


<!--<app-header2></app-header2>
<section class="about">
    <div class="container">
        <div class="row">
            <div class="cen">
            <div class="col-md-6 text-center">
                <div class="image">

                <img src="../../assets/image/Features/EHR.png" alt="">
            </div>
            </div>
            <div class="col-md-6 text-justify">
                <div class="service">
                <h2>Digital Prescription using MentDoc-</h2>
                <p> In place of written and faxed prescriptions, it is advisable to go for computer-based electronic prescription generation, transmission and filling of a medical prescription. Digital Prescription or E-prescribing allows a medical representative to electronically transmit new prescriptions or renew authorization to individuals or pharmacies.</p>

                <p>   It emphasizes on the ability to send precise and understandable prescriptions electronically from the healthcare provider to the customer or reseller.</p>
                    
                <p>    E-prescribing mitigates the risks associated with conventional prescription script writing. It is also is crucial in storage of soft copies of medical records on a server or on the cloud.By sharing prescription information, electronic prescribing seeks to connect the patient's team of healthcare professionals to expeditiously promote decision making.</p>
                    
                <p>    Doctors can prescribe medication using MentDoc and forward an e-prescription. The e-prescription will be immediately accessible in the partner pharmacy thus making the whole process much easier and quicker.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="cen">
            <div class="col-md-6 text-justify">
                <h2>EHR Management through MentDoc</h2>
             <p>   An Electronic Health Record (EHR) is a digital version of a patient's summaries and records. EHRs are patient-oriented records that facilitate an authorized professional a quick and secure access to information.</p>

             <p>   A critical feature of an EHR is that information is created and managed by authorized providers in a format, which makes it capable of being shared with other providers across many health care organizations.</p>

             <p>      EHRs are designed in order to share information with other health care partners − such as laboratories, specialists, medical imaging facilities, pharmacies, emergency facilities, school clinics and workplace clinics.</p>
                
              <p>  MentDoc is designed in a manner that it fulfills all the requirements and tasks expected from a robust EHR software, thus easing exchange and flow of critical information.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="../../assets/image/Features/EHR.png" alt="">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="cen">
            <div class="col-md-6 text-center">
                <img src="../../assets/image/Features/EHR.png" alt="">
            </div>
            <div class="col-md-6">
                <h2>Digital Prescription using MentDoc-</h2>
                <p> In place of written and faxed prescriptions, it is advisable to go for computer-based electronic prescription generation, transmission and filling of a medical prescription. Digital Prescription or E-prescribing allows a medical representative to electronically transmit new prescriptions or renew authorization to individuals or pharmacies.</p>

                <p>   It emphasizes on the ability to send precise and understandable prescriptions electronically from the healthcare provider to the customer or reseller.</p>
                    
                <p>    E-prescribing mitigates the risks associated with conventional prescription script writing. It is also is crucial in storage of soft copies of medical records on a server or on the cloud.By sharing prescription information, electronic prescribing seeks to connect the patient's team of healthcare professionals to expeditiously promote decision making.</p>
                    
                <p>    Doctors can prescribe medication using MentDoc and forward an e-prescription. The e-prescription will be immediately accessible in the partner pharmacy thus making the whole process much easier and quicker.</p>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="cen"   >
            <div class="col-md-6">
                <h2>Diagnosis and Treatment using MentDoc-</h2>
               <p> A Tool for Diagnostic clarification based on ICD10 classification of mental health behaviours and disorders.</p>
                <p>The software developed by MentDoc has been designed to aid mental health professionals in clarifying diagnosis based on Patient Symptomatology by matching it with the diagnostic criteria as given under the ICD10 classification of Mental and Behavioural Disorders, thus making it highly effective and reliable.</p>
                        </div>
            
            <div class="col-md-6 text-center">
                <img src="../../assets/image/Features/EHR.png" alt="">
            </div>
        </div>
        </div>
        <div class="row">
            <div class="cen">
            <div class="col-md-6 text-center">
                <img src="../../assets/image/Features/EHR.png" alt="">
            </div>
            <div class="col-md-6">
                <h2>Practice Management and MentDoc-</h2>
              <p>  MentDoc has been designed in a manner that it will be of immense help to an MHP in easing the operations by streamlining and digitizing them. With the help of the dashboard, all the important information like My Patients, Total Consultations, Upcoming Appointments, Total Co-Workers, Total Clinics, Labs and Pharmacies.</p>

                <p>Also it helps in managing multiple clinics effectively in addition to referring cases for a second opinion at the click of a button.</p>

                <p>No more worrying about writing prescriptions manually and coordination with pharmacies, all will be available at the click of a button.</p>

                <p>MentDoc was initiated as India's 1st Mental Health Record Maintenance Solution as well Practice Management & Patient Engagement Solution to assist mental health professionals in diagnosis, planning investigations, treatment, recording, scheduling appointments, providing e-prescriptions, manage consultations, etc.</p>         
            </div>
        </div>
    </div>
    </div>
</section>
<app-footer></app-footer>-->














<!--<div class="services">
        
        <div class="cen">
            <div class="service">
                
                <h2>Digital Prescription using MentDoc-</h2>
                <p> In place of written and faxed prescriptions, it is advisable to go for computer-based electronic prescription generation, transmission and filling of a medical prescription. Digital Prescription or E-prescribing allows a medical representative to electronically transmit new prescriptions or renew authorization to individuals or pharmacies.

                    It emphasizes on the ability to send precise and understandable prescriptions electronically from the healthcare provider to the customer or reseller.
                    
                    E-prescribing mitigates the risks associated with conventional prescription script writing. It is also is crucial in storage of soft copies of medical records on a server or on the cloud.By sharing prescription information, electronic prescribing seeks to connect the patient's team of healthcare professionals to expeditiously promote decision making.
                    
                    Doctors can prescribe medication using MentDoc and forward an e-prescription. The e-prescription will be immediately accessible in the partner pharmacy thus making the whole process much easier and quicker.</p>
           
                      
                            
            </div>
            <div class="service">
                <img src="../../assets/image/Features/EHR.png">
                    
            </div>
          
                            
        </div>
        <div class="cen">
            <div class="service">
                    <img src="../../assets/image/Features/ment web.png">
                        
                </div>
              
        <div class="service">
            
            <h2>EHR Management through MentDoc</h2>
            <p>n Electronic Health Record (EHR) is a digital version of a patient's summaries and records. EHRs are patient-oriented records that facilitate an authorized professional a quick and secure access to information.

                A critical feature of an EHR is that information is created and managed by authorized providers in a format, which makes it capable of being shared with other providers across many health care organizations.
                
                EHRs are designed in order to share information with other health care partners − such as laboratories, specialists, medical imaging facilities, pharmacies, emergency facilities, school clinics and workplace clinics.
                
                MentDoc is designed in a manner that it fulfills all the requirements and tasks expected from a robust EHR software, thus easing exchange and flow of critical information.</p>
                      
                        

        </div>
        
                        
    </div>
    <div class="cen">
        <div class="service">
            
            <h2>Diagnosis and Treatment using MentDoc-</h2>
            <p>   A Tool for Diagnostic clarification based on ICD10 classification of mental health behaviours and disorders.

                The software developed by MentDoc has been designed to aid mental health professionals in clarifying diagnosis based on Patient Symptomatology by matching it with the diagnostic criteria as given under the ICD10 classification of Mental and Behavioural Disorders, thus making it highly effective and reliable.</p>          
                          

        </div>
        <div class="service">
            <img src="../../assets/image/Features/patient-01.png">
                
        </div>
      
                        
    </div>
    <div class="cen">
        <div class="service">
                <img src="../../assets/image/Features/diganosis.png">
                    
            </div>
          
    <div class="service">
        
        <h2>Practice Management and MentDoc-</h2>
        <p>MentDoc has been designed in a manner that it will be of immense help to an MHP in easing the operations by streamlining and digitizing them. With the help of the dashboard, all the important information like My Patients, Total Consultations, Upcoming Appointments, Total Co-Workers, Total Clinics, Labs and Pharmacies.

            Also it helps in managing multiple clinics effectively in addition to referring cases for a second opinion at the click of a button.
            
            No more worrying about writing prescriptions manually and coordination with pharmacies, all will be available at the click of a button.
            
            MentDoc was initiated as India's 1st Mental Health Record Maintenance Solution as well Practice Management & Patient Engagement  Solution as well Practice Management & Patient Engagement Solution to assist mental health professionals in diagnosis, planning investigations, treatment, recording, scheduling appointments, providing e-prescriptions, manage consultations, etc. </p>
                    
                    

    </div>
    
                    
</div>



    </div>
-->