<!DOCTYPE html>
<html>
<head>
    <title> Sample </title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- Container -->
<div id="container">
<!-- Left portion -->
<div id="part1">
<!-- Head Portion -->
<p id="head">Safety of your data is our top priority</p>
<!-- Checked Lists-->
<ul id="checklist">
<li>Multi-Level security checks</li>
<li>Multiple data backups</li>
<li>Stringent data privacy policies</li>
</ul>
<!-- Achievements -->
<div id="iconset">
    
<!-- Icon 1 -->
<div class="ico">
<img id="disp1" src="../../../../assets/image/security/256.webp">
<p class="maint">256-bit</p>    
<p class="subt">encryption</p>
</div>
    
<!-- Icon 2 -->
<div class="ico">
<img id="disp1" src="../../../../assets/image/security/iso.webp">
<p class="maint">ISO 27001</p>    
<p class="subt">certified</p>
</div>
    
<!-- Icon 3 -->
<div class="ico long">
<img id="disp1" src="../../../../assets/image/security/hipaa.webp">
<p class="maint">HIPAA</p>    
<p class="subt">compliant data centers</p>
</div>
    
<!-- Icon 4 -->
<div class="ico">
<img id="disp1" src="../../../../assets/image/security/dsci.webp">
<p class="maint">DSCI</p>    
<p class="subt">member</p>
</div>
</div>
</div>
<!-- Main image -->
<div id="part2">
<img id="headimg" src="../.././../../assets/image/security/Tulasi-web-image.png">
</div>
</div>
</body>
</html>